// main.scss

// 1) Abstracts
@use "abstracts/variables" as vars;
@use "abstracts/mixins" as mix;

// 2) Base
@use "base/root";
@use "base/reset";
@use "base/typography";

// 3) Vendors (Bootstrap overrides, etc.)
@use "vendors/bootstrap-overrides";

// 4) Layout
@use "layout/header";
@use "layout/hero";
@use "layout/sections";
@use "layout/footer";
@use "layout/catalogo";
@use "layout/representantes";
@use "layout/contacto";
@use "layout/cat";
@use "layout/blog-article";

@use "components/products";

// Add padding to body to prevent content from being hidden behind fixed navbar
body {
  padding-top: vars.$navbar-height; /* Navbar height */

  // Responsive adjustment for smaller screens
  @media (max-width: 768px) {
    padding-top: vars.$navbar-height-sm;
  }
}
